{% extends "master.html.twig" %}

{% block title %}Add and Edit Item{% endblock %}

{% block content %}

    {% if addSuccess %}
        <h2>New Item (Id: {{itemId}}) Saved!</h2>
        <p>You can continue to add more items here, or click below button to view your item list<a class="btn btn-lg btn-primary btn-block linkButtons" href="/admin/products/list">My Item List</a></p>
    {% endif %}

    {% if editSuccess %}
        <h2>Item (Id: {{itemId}}) Change Saved!</h2>
        <p>You can continue to add more items here, or click below button to view your item list <a class="btn btn-lg btn-primary btn-block linkButtons" href="/admin/products/list">My Item List</a></p>
    {% endif %}

    {% if errorList %}
        <ul class="errors">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center">Add / Edit Item  
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <span><small><small><a href="/admin/products/list">Go to My Item List</a></small></small></span>
                        </h3>

                        <form class="form-signin" method="post" enctype="multipart/form-data">
                            <div class="form-label-group">
                                <label for="inputItemName">Item Name</label>
                                <input type="text" id="inputItemName" class="form-control" placeholder="Item Name" name="itemName" value="{{v.itemName}}" required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label for="inputCategory">Category</label>
                                <select id="inputCategory" class="form-control" name="category">
                                    <option value ="null">select category</option>
                                    <option value ="Cell Phone">Cell phone</option>
                                    <option value ="iPad">iPad</option>
                                    <option value ="Tablet">Tablet</option>
                                    <option value ="Accessories">Accessories</option>
                                </select>
                            </div>

                            <div class="form-label-group">
                                <label for="inputDescription">Description</label>
                                <textarea id="inputDescription" class="form-control" placeholder="Description" name="description" required>{{v.description}}</textarea>
                            </div>

                            <div class="form-label-group">
                                <label for="inputPhoto">Photo</label>
                                <input type="file" id="inputPhoto" class="form-control" placeholder="Photo" name="photo">
                            </div>

                            <div class="form-label-group">
                                <label for="inputPrice">Price (CAD$)</label>
                                <input type="number" id="inputPrice" class="form-control" placeholder="Price" name="price" value='{{v.price}}' required>
                            </div>

                            <div class="form-label-group">
                                <label for="inputQuantity">Quantity</label>
                                <input type="number" id="inputQuantity" class="form-control" placeholder="Quantity" name="quantity" value="{{v.quantity}}" required>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <label for="putFrontPage">Yes, put on Front Page</label>
                                <input type="radio" id="putFrontPage" name="isFrontPage" value="1"><br>
                                <label for="noFrontPage">No, don't put on Front Page</label>
                                <input type="radio" id='noFrontPage' name="isFrontPage" value="0" checked><br>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="save">Save Item</button>
                            <hr class="my-4">

                            {% if v.id == false %}
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" style="color:white; background-color: #ea4335" type="submit" name="cancel">Cancel</button>
                            {% else %}
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" style="color:white; background-color: #ea4335" type="submit" name="delete" onclick="javascript:return del();">Delete Item</button>

                                <script>
                                    function del() {
                                        var msg = "Are you sure you want to delete this item? Please confirm";
                                        if (confirm(msg) == true) {
                                            return true;
                                        } else {
                                            return false;
                                        }
                                    }
                                </script>

                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}