{% extends "master.html.twig" %}

{% block title %}Cart details{% endblock %}

{% block content %}

    <div class="container mt-3">

        <div class="row ">
            <div class="col-xs-6 col-md-8 mb-2">
                <h4><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart:  <span>{{note}}</span></h4>
            </div>
            <div class="col-xs-6 col-md-4">
                <a class="btn btn-primary btn-sm btn-block pull-right" href="/">
                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                </a>

            </div>
        </div>

        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        <th scope="col" width="120">Subtotal</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total=0 %}
                    {% for c in cartItems %} 
                        <tr>
                            <td>
                                <figure class="media">
                                    <div class="img-wrap mr-2"><img width="150" height="150" src="/products/{{c.itemId}}/image" class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        <h6 class="title text-truncate">{{c.itemName}} </h6>
                                        <dl class="param param-inline small">
                                            <dt>{{c.description}} </dt>

                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Color: </dt>
                                            <dd>Orange color</dd>
                                        </dl>
                                    </figcaption>
                                </figure> 
                            </td>
                            <td> 
                                <select class="form-control" cartId="{{c.id}}" >                                    
                                    <option >1</option>           
                                    <option >2</option>	
                                    <option >3</option>	
                                    <option >4</option>	
                                    <option >5</option>	
                                    <option >6</option>	
                                </select> 
                            </td>
                            <td> 
                                <div class="price-wrap"> {{c.price}} </div> <!-- price-wrap .// -->
                            </td>
                            {%  set total=total +c.price*c.quantity %}
                            <td><div class="subtotal">{{(c.price*c.quantity)|number_format(2, '.', ',') }}</div></td>
                            <td class="text-right"> 

                                <a href="/cart/delete/{{c.id}}" class="btn btn-outline-danger"> × Remove</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div> <!-- card.// -->
        <br>
        <div class="row text-right mt-2">

            <div class="col-xs-9 col-md-8">
                <span class="mt-2" >Shipping </span> 
                <span id="shipping">{{valueList.shipping|number_format(2, '.', ',')}}</span>
            </div>
            {% set tax =0 %}
            <div class="col-xs-9 col-md-8">
                <span >Taxes </span>
                <span id="taxes">
                    ${{valueList.taxes|number_format(2, '.', ',')}}</span>
            </div>
            {% set total= total + shipping + tax %}

            <div class="col-xs-9 col-md-8">
                <h4 class="text-right">Total <span id="total">${{valueList.total|number_format(2, ',', '.')}}</span></h4>

            </div>
            <div class="col-xs-3 col-md-4">

                <a class="btn btn-success btn-block pull-right" href="/checkout">
                    <span class="glyphicon glyphicon-share-alt"></span> Checkout
                </a>
            </div>
        </div>

    </div> 
    <!--container end.//-->

{% endblock %}
{% block contentScript %}
    <script>
        function refreshCartList() {

            $.ajax({
                url: "/api/cart",
                type: "GET",
                dataType: "json"
            }).done(function (valueList) {
                console.log("total: " + valueList.total);
                alert("get valueList sucessfully");
                $('#shipping').html(valueList.shipping);
                $('#taxes').html(valueList.taxes);
                $('#total').html(valueList.total);
            });

        }

        $(document).ready(function () {
            $("select.form-control").change(function () {
                var cartId = $(this).attr("cartId");
                var selectedQty = $(this).children("option:selected").val();
                var price = parseFloat($(this).parent().next().find(".price-wrap").text());
                var subtotalValue = selectedQty * price;
                var subtotal = $(this).parent().next().next().find(".subtotal");
                subtotal.html(subtotalValue.toFixed(2));

                console.log("quantity: " + selectedQty);

                var quantityChanged = {quantity: selectedQty};
                alert("start ajax");
                $.ajax({
                    url: "/cart/update/" + cartId,
                    data: JSON.stringify(quantityChanged),
                    type: "PUT",
                    dataType: "json"
                }).done(function () {
                    alert("Updated sucessfully");
                    refreshCartList();
                });

             });

         });

         $(document).ajaxError(function () {
             alert("Ajax error occured");
         });
    </script>
{% endblock %}
