{% extends "master.html.twig" %}

{% block title %}Category{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/category">Category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{subcategory}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="/category/cellphone">Cell phone</a></li>
                        <li class="list-group-item"><a href="/category/ipad">iPad</a></li>
                        <li class="list-group-item"><a href="/category/tablet">Tablet</a></li>
                        <li class="list-group-item"><a href="/category/accessories">Accessories</a></li>                  
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    {% for p in productList%}
                        <div class="col-12 col-md-6 col-lg-4">

                            <div class="card">
                                <img class="card-img-top" src="/products/{{p.id}}/image" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="/products/{{p.id}}" title="View Product">{{p.itemName}}</a></h4>
                                    <p class="card-text">{{p.description}}</p>
                                    <p class="card-text">${{p.price}}</p>
                                    <div class="row">
                                        <div class="col">


                                            <a href="/products/{{p.id}}" class="btn btn-primary btn-block">See more details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block contentScript %}
    <script>
        $(document).ready(function () {
            var quantity = 1;

            $('.quantity-right-plus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($('#quantity').val());
                $('#quantity').val(quantity + 1);
            });

            $('.quantity-left-minus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($('#quantity').val());
                if (quantity > 1) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });

    </script>       
{% endblock %}