{% extends "master.html.twig" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
            <h3><span>{{note}}</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4" id="popoverContent">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">{{count}}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% set total=0 %}
                    {% for c in cartItems %} 
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{c.itemName}}</h6>
                                <small class="text-muted">{{c.description}}</small>
                                <small class="text-muted">${{c.price}}</small>
                                <small class="text-muted">* {{c.quantity}}</small>
                            </div>
                            <span class="text-muted">${{(c.price * c.quantity)|number_format(2, '.', ',') }}</span>
                            {%  set total=total +c.price*c.quantity %}
                        </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h6 class="my-0">Shipping </h6>  
                          {% if cartItems %}
                        $15.00
                        {% else %}
                            $0
                            {%endif %}
                    </li>
                    {% set tax =0 %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h6 class="my-0">Tax </h6>
                        {% set tax= (total + shipping)*0.15 %}
                        ${{tax|number_format(2, '.', ',')}}
                    </li>
                    {% set total= total + shipping + tax %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h6 class="my-0">Total </h6>
                        <strong>${{total|number_format(2, '.', ',')}}</strong>
                    </li>
                </ul>

                <a class="btn btn-primary  btn-block pull-right" href="/">
                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                </a>
            </div>

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Shipping address</h4>
                <form class="needs-validation" novalidate>

                    <div class="mb-3">
                        <label for="name">Shipping name </label>
                        <input type="name" class="form-control" id="name" placeholder="">
                        <div class="invalid-feedback">
                            Your name is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>      
    </div>
{% endblock %}

{% block contentScript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}

