{% extends "master.html.twig" %}

{% block title %}Main{% endblock %}

{% block content %}
    

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/phone.jpg" alt="First slide">
                
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/phone.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/phone.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h2 class="jumbotron-heading">Mobile Ecommerce</h2>
                <p class="lead text-muted">Mobile E-commerce is an online and shopping website in which people and businesses buy and sell cell phone, ipad, tablet, parts and accessories in Canada. </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Cell phone</a>
                    <a href="#" class="btn btn-secondary my-2">iPad</a>
                    <a href="#" class="btn btn-primary my-2">Tablet</a>
                    <a href="#" class="btn btn-secondary my-2">Accessories</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {% for p in productList%}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="/products/{{p.id}}/image" alt="Card image cap">
                                <div class="card-body">
                                    <form method="post">  
                                        <h3 class="card-text">{{p.itemName}}</h3>
                                        <p class="card-text">{{p.description}}</p>
                                        <input type="number" name="quantity" value="1" min="0" max="6"/>
                                        <input type="hidden" name="id" value="{{p.id}}"/>
                                        <p class="card-text">${{p.price}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">                        
                                                <a href="/cart/add/{{p.id}}" class="btn btn-success btn-send addtocart">Add To Cart</a>
                                                <button type="submit" name="see-more-details" class="btn btn-sm btn-outline-secondary">See more detail</button>
                                            </div>
                                            <small class="text-muted">9 left</small>
                                        </div>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>




{% endblock %}
{% block contentScript %}
    <script>
        $(document).ready(function () {

            $('.addtocart').click(function () {
                
                var id = $(this).parent().parent().parent().find('input[name=id]').val();
                var quantity = $(this).parent().parent().parent().find("input[name=quantity]").val();
                $(this).attr("href", "/cart/add/" + id + "/" + quantity);

            });
        });

    </script>       
{% endblock %}