{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

    <h2>Login Succesful!</h2>
    <p>Hi {{sessionUser.name}}, {{v.email}} is logged in successfullly.</p>
    {% if sessionUser.type == "seller" %}

        <span><a class="btn btn-lg btn-primary linkButtons" href="/">Go to Home Page</a></span>
        <span><a class="btn btn-lg btn-primary linkButtons" href="/userprofile">Go to User Profile</a></span>
        <span><a class="btn btn-lg btn-primary linkButtons" href="/admin/products/list">Go to My Item List</a></span>
    {% elseif seesionUser.type == "buyer" %}
        <span><a class="btn btn-lg btn-primary linkButtons" href="/">Go to Home Page</a></span>
        <span><a class="btn btn-lg btn-primary linkButtons" href="/userprofile">Go to User Profile</a></span>
        <span><a class="btn btn-lg btn-primary linkButtons" href="/cart">Go to My Cart</a></span>

    {% endif %}

{% endblock %}
