<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %} - Mobile E-commerce</title>
        {% block addhead %}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar in each page -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
            <div class="container">
                <a class="navbar-brand" href="/">Mobile Ecommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category">Categories</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/category">Product <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Contact</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0" method="post">
                        <div class="input-group input-group-sm">
                            <input type="text" name="keyword" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button type="submit" name="search" class="btn btn-secondary btn-number">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>


                        <button type="button" class="btn btn-success btn-sm ml-3" data-container="body" data-toggle="popover"  data-trigger="focus" data-placement="bottom" 
                                data-content="">
                            <i class="fa fa-shopping-cart"></i> Cart
                            <span class="badge badge-light">{{count}}</span>
                        </button>
                    </form>

                    <ul class="navbar-nav m-auto">

                        {% if sessionUser %}
                            <li class="nav-item">
                                <a class="nav-link" href="/userprofile"><u>{{sessionUser.name}}</u></a>
                            </li>                        
                            <li class="nav-item">
                                <a class="nav-link" href="/logout"><u>Logout</u></a>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="/register"><u>Register</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login"><u>Login</u></a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>      

        <div class="col-md-4 order-md-2 mb-4" id="popoverContent" style="display: none">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{count}}</span>
            </h4>
            <ul class="list-group mb-3">
                {% set total=0 %}
                {% for c in cartItems %} 
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{c.itemName}}</h6>
                            <small class="text-muted">{{c.description}}</small>
                            <small class="text-muted">${{c.price}}</small>
                            <small class="text-muted">* {{c.quantity}}</small>
                        </div>
                        <span class="text-muted">${{(c.price * c.quantity)|number_format(2, '.', ',') }}</span>
                        {%  set total=total +c.price*c.quantity %}
                    </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="my-0">Shipping </h6> 
                    {% if cartItems %}
                        $15.00
                    {% else %}
                        $0
                    {%endif %}             
                </li>
                {% set tax =0 %}
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="my-0">Tax </h6>
                    {% set tax= (total + shipping)*0.15 %}
                    ${{tax|number_format(2, '.', ',')}}
                </li>
                {% set total= total + shipping + tax %}
                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="my-0">Total </h6>
                    <strong>${{total|number_format(2, '.', ',')}}</strong>
                </li>
            </ul>

            <a class="btn btn-primary  btn-block pull-right" href="/">
                <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
            </a>
            <a class="btn btn-success  btn-block pull-right" href="/checkout">
                <span class="glyphicon glyphicon-share-alt"></span> Checkout
            </a>
        </div>             

        <div id="centeredContent">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                <footer class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; 2019-2020 Mobile Ecommerce</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Privacy</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Support</a></li>
                    </ul>
                </footer>
            {% endblock %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover({
                    html: true,
                    content: function () {
                        return $('#popoverContent').html();
                    }});

            });
        </script>
    {% block contentScript %}{% endblock %}
</body>
</html>