{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}

    {% if registerSuccess %}
        {#        TODO: get the session from register.php#}
        {% if sessionUserType == "seller" %}
            <h2>Registration Succesful!</h2>
            <span><a class="btn btn-lg btn-primary linkButtons" href="/admin/products/add">Hello seller, Continue</a></span>
        {% else %}
            <h2>Registration Succesful!</h2>
            <span><a class="btn btn-lg btn-primary linkButtons" href="/category">Hello buyer, Continue</a></span>
        {% endif %}
    {% else %}

        {% if errorList %}
            <ul class="errors">
                {% for error in errorList %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Register</h3>
                            <form class="form-signin" method="post">
                                <div class="form-label-group">
                                    <label for="inputUserName">Name</label>
                                    <input type="text" id="inputUserName" class="form-control" placeholder="Name" name="name" value="{{v.name}}" required autofocus>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" value="{{v.email}}" required>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="pass1" required>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <label for="inputConfirmPassword">Confirm password</label>
                                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" name="pass2" required>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <label for="inputAccountType">Account Type</label>
                                    <select id="inputAccountType" class="form-control" name="type">
                                        <option value ="null">select account type</option>
                                        <option value ="buyer">Buyer</option>
                                        <option value ="seller">Seller</option>
                                    </select>
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    <label for="inputAccountNumber">Account Number</label>
                                    <input type="text" id="inputAccountNumber" class="form-control" placeholder="Account Number" name="accountNumber" value="{{v.accountNumber}}" required>
                                </div>              

                                <hr>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                <hr class="my-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}