{% extends "master.html.twig" %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <p>You've entered user panel. Back to homepage <a href="/">Click here</a>.</p>

    <script>
        var currentId = 0;  // 0 means no record selected

        $(document).ready(function () {
            $("#userPane").hide();
            $("#userChange").hide();
            $("#transactionList").hide();
            
            $("#user").click(function () {
                currentId = {{ sessionUser.id }};
                $("#userChange").hide();
                $("#transactionList").hide();
                $("#userPane").show();
                $.ajax({
                    url: "/api.php/userprofile/" + currentId,
                    type: "GET",
                    dataType: "json"
                }).done(function (user) {
                    $("#userId").html(currentId);
                    $("#userName").html(user.name);
                    $("#userEmail").html(user.email);
                    $("#accountNumber").html(user.accountNumber);
                });
            });
            
            $("#transaction").click(function () {
                currentId = {{ sessionUser.id }};
                $("#userPane").hide();
                $("#userChange").hide();
                $("#transactionList").show();
                $.ajax({
                    url: "/api.php/userprofile/transaction/" + currentId,
                    type: "GET",
                    dataType: "json"
                }).done(function (orderList) {
                    var result = "<tr><th>Order ID</th><th>Buyer ID</th><th>Shipping Name</th><th>Shipping Address</th><th>Total Charge</th><th>DateTime</th><th>Service Charge</th></tr>";
                    for (var i = 0; i < orderList.length; i++) {
                        var order = orderList[i];

                        result += '<tr>';
                        result += '<td>' + order.id + '</td>';
                        result += '<td>' + order.buyerId + '</td>';
                        result += '<td>' + order.shippingName + '</td>';
                        result += '<td>' + order.shippingAddress + '</td>';
                        result += '<td>' + order.totalCharge + '</td>';
                        result += '<td>' + order.datetime + '</td>';
                        result += '<td>' + order.serviceCharge + '</td>';
                        result += '</tr>\n';
                    }
                    $("#listTable").html(result);
                });
            });

            $(document).ajaxError(function () {
                alert("Ajax error occured");
            });

        });
    </script>


{#    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
   {# <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>#}
{#    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-bookmark"></span> User Panel</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="btn btn-success btn-lg" role="button" id="user"><span class="glyphicon glyphicon-user"></span> <br/>User</a>
                                <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-wrench"></span> <br/>Change</a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                                <a href="#" class="btn btn-info btn-lg" role="button" id="transaction"><span class="glyphicon glyphicon-file"></span> <br/>Transaction</a>
                            </div>
                        </div>
                        <div id="userPane" class="glyphicon">
                            ID: <span id="userId"></span><br><hr>
                            Name: <span id="userName"></span><br><hr>
                            Email: <span id="userEmail"></span><br><hr>
                            Account Number: <span id="accountNumber"></span><br>
                        </div>
                        <div id="userChange" class="glyphicon">
                            Email: <input type="text" name="email1"><br>
                            Email confirm: <input type="text" name="email2"><br>
                            Password: <input type="text" name="pass1"><br>
                            Password confirm: <input type="text" name="pass2"><br>
                            <button id="saveChange">Save</button>
                            <button id="cancel">Cancel</button>
                        </div>
                        <div id="transactionList" class="glyphicon">
                            <table id="listTable" border="1">
                                <!-- data will be loaded in here -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
